.grid-container {
    margin: 20px;
  }
  
  .dashboard-card {
    position: absolute;
    top: 75px;
    left: 20px;
    right: 20px;
    bottom: 20px;
  }
  
  .more-button {
    position: absolute;
    top: 5px;
    right: 10px;
  }
  
  .dashboard-card-content {
    text-align: center;
  }

  .table-responsive {
    display: block;
    width: 100%;
    height: 400px;
    overflow-x: auto;
    text-align: left;
    .mat-table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
        display: table;
        border-collapse: collapse;
        margin: 0px;
    }
    .mat-row,
    .mat-header-row {
        display: table-row;
    }
    .mat-cell,
    .mat-header-cell {
        word-wrap: initial;
        display: table-cell;
        padding: 0px 5px;
        line-break: unset;
        width: auto;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: middle;
    }
  }
  .add-button {
    font-size: 10px;
    border-radius: 15px;
    .mat-icon {
      font-size: 18px;
      vertical-align: middle;
    }
  }