.grid-container {
    margin: 20px;
  }
  
  .dashboard-card {
    position: relative;
    
  }
  
  .more-button {
    position: absolute;
    top: 5px;
    right: 10px;
  }
  
  .dashboard-card-content {
    text-align: center;
  }

// Angular material button size && radius border
.mat-raised-button {
  padding: 0 6px 0 6px;
  margin: 6px 8px 6px 8px;
  min-width: 80px;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  outline: none;
  border-radius: 20px 20px;
}